@import "../../shared/variables.scss";

.centered {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: $secondary-color;
  }
  .description {
    color: $secondary-color;
  }
}

svg {
  width: 30rem;
  height: auto;
  border: 0px;
}
