<div class="centered">
  <h1 class="title">GenPare</h1>
  <a class="description">Willkommen bei GenPare!</a>
  <svg
    id="Layer_1"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 300 300"
  >
    <defs>
      <style>
        .cls-1 {
          fill: #ffebe5;
          stroke: #231f20;
        }
        .cls-1,
        .cls-2 {
          stroke-miterlimit: 10;
        }
        .cls-2 {
          fill: none;
          stroke: #0b3c5d;
          stroke-width: 10px;
        }
      </style>
    </defs>
    <polyline class="cls-2" points="221.43 102.14 221.43 62.92 182.21 62.92" />
    <line class="cls-2" x1="178.37" y1="105.98" x2="220.08" y2="64.27" />
    <line class="cls-2" x1="119.02" y1="207.78" x2="178.01" y2="207.78" />
    <path
      class="cls-2"
      d="M148.52,237.27v-87c0-8.27,5.38-8,5.38-8h23.16c3,0,12.89-.06,12.89.83,0,21.24-17.42,35.12-41.53,35.1a42.36,42.36,0,1,1,0-84.71c23.39,0,42.35,13.75,42.35,37.14"
    />
  </svg>
  <app-login-buttons></app-login-buttons>
</div>
