<div class="centered">
  <h3 class="title">GenPare</h3>
  <a>Text der GenPare erklärt</a>
  <img src="https://egirl.rip/2JGbP1xqqM.png?key=UUwP0gP7wWjHag" />
  <div class="button-container">
    <button
      (click)="
        auth.loginWithRedirect({
          uri_redirect: 'http://localhost:4200/profile'
        })
      "
      class="btn btn-primary log-button"
    >
      Log in
    </button>
    <button
      (click)="auth.loginWithRedirect({ screen_hint: 'signup' })"
      class="btn btn-info log-button"
    >
      Registrieren
    </button>
  </div>
</div>
