<div class="centered">
  <h1 class="title">GenPare</h1>
  <a class="description">Willkommen bei GenPare!</a>
  <img src="assets/genpare_hell.png" />
  <div class="button-container" *ngIf="!(auth.isAuthenticated$ | async)">
    <button
      (click)="loginWithRedirect()"
      class="btn btn-primary log-button btn-lg"
    >
      Anmelden
    </button>
    <button
      (click)="registerWithRedirect()"
      class="btn btn-primary sign-button btn-lg"
    >
      Registrieren
    </button>
  </div>
</div>
