<div class="card">
    <div class="card-body">
      <h5 class="card-title">Datenverwaltung</h5>
      <div class="card-text">
            <div class="card-content">
                <form [formGroup]="data_management">
                    <div class="form-group row">
                        <label class=" col-sm-1 col-form-label" for="job">Beruf:</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="job" aria-describedby="job-small" formControlName="job">
                            <small class="form-text text-muted" id="job-small">Bitte geben Sie Ihren Beruf an.</small>
                        </div>
                        <label class="col-sm-1 col-form-label" for="education-degree">Bildungsgrad:</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="education-degree" aria-describedby="education-degree-small" formControlName="education_degree">
                                <ng-container *ngFor="let education_degree of education_degrees">
                                    <option value="education_degree">{{ education_degree }}</option>
                                </ng-container>    
                            </select>
                            <small class="form-text text-muted" id="education_degree-small">Bitte geben Sie Ihren höchsten Bildungsabschluss an.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label" for="federal-state">Bundesland:</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="federal-state" style="width: 100%" aria-describedby="federal-state-small" formControlName="federal_state">
                                <ng-container *ngFor="let federal_state of federal_states">
                                    <option value="federal_state">{{ federal_state }}</option>
                                </ng-container>    
                            </select>
                            <small class="form-text text-muted" id="federal-state-small">Bitte geben Sie Ihr Bundesland an.</small>
                        </div>
                        <label class="col-sm-1 col-form-label" for="salary">Gehalt:</label>
                        <div class="col-sm-5">
                            <div class="input-group">
                                <input class="form-control" type="number" min="0" id="salary" aria-describedby="salary-small" placeholder="z.B. 2000" formControlName="salary">
                                <div class="input-group-postpend">
                                    <div class="input-group-text">€</div>
                                </div>
                            </div>
                            <small class="form-text text-muted" id="salary-small">Bitte geben Sie Ihr Monatsgehalt in Euro an.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label" for="gender">Geschlecht:</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="gender" style="width: 100%" aria-describedby="gender-small" formControlName="gender">
                                <ng-container *ngFor="let gender of genders">
                                    <option value="gender">{{ gender }}</option>
                                </ng-container>    
                            </select>
                            <small class="form-text text-muted" id="gender-small">Bitte geben Sie Ihr Geschlecht an.</small>
                        </div>
                        <label class="col-sm-1 col-form-label" for="age">Alter:</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="date" id="age" aria-describedby="age-small" formControlName="age">
                            <small class="form-text text-muted" id="age-small">Bitte geben Sie Ihr Geburtsdatum an.</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
