@import 'src/app/shared/variables.scss';

.card {
    margin-left: $main-padding;
    margin-right: $main-padding;
    margin-top: $main-padding;
}

.card-title {
    padding-bottom: 10px;
}

.upper-row {
    margin-bottom: 37px;
}

button {
    color: $secondary-color;
    background-color: $primary-color;
    border-color: $primary-color;
}
