<div class="card">
    <div class="card-body">
      <h5 class="card-title">Accountverwaltung</h5>
      <div class="card-text">
            <div class="card-content">
                <div class="container-fluid">
                    <div class="row upper-row">
                        <div class="col-1">Email:</div>
                        <div class="col-5">{{ email }}</div>
                        <div class="col-1">Nickname:</div>
                        <div class="col-5">{{ nickname }}</div>
                    </div>
                    <div class="row upper-row">
                        <div class="col-1">Passwort:</div>
                        <div class="col-5">{{ password }}</div>
                        <div class="col-1">Account erstellt:</div>
                        <div class="col-5">{{ account_created | date : 'longDate' }}</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-danger" (click)="delete_account()">Account löschen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-data-management></app-data-management>
