@import 'src/app/shared/variables.scss';

.card {
    margin-left: $main-padding;
    margin-right: $main-padding;
    margin-top: $main-padding;
}

.card-title {
    padding-bottom: 10px;
}

.row {
    margin-bottom: 37px;
}
