<h3>Profilverwaltung</h3>
<form [formGroup]="profileForm" class="needs-validation" (ngSubmit)="save()">
  <div class="card">
    <div class="card-body">
      <div class="card-text">
        <p class="bottom-gap">
          Bitte ermöglichen Sie allen anderen Nutzer*innen möglichst genaue
          Resultate, indem Sie Ihre Daten wahrheitsgemäß angeben und diese
          regelmäßig aktualisieren. Ihre Daten werden streng vertraulich
          behandelt und anderen Nutzer*innen anonymisiert angezeigt. Bei Fragen
          oder Bedenken wenden Sie sich bitte an
          <a href="mailto:support@genpare.de">support@genpare.de</a>.
        </p>
        <div class="form-group row">
          <div class="col-1">Email:</div>
          <div class="col-5">{{ email$ | async }}</div>
          <label class="col-sm-1 col-form-label" for="age">Alter:</label>
          <div class="col-sm-5">
            <input
              class="form-control"
              [ngClass]="{
                'is-invalid': formControls.age.errors && formControls.age.dirty
              }"
              min="1900-01-01"
              type="date"
              id="age"
              aria-describedby="age-small"
              formControlName="age"
            />
            <small
              class="form-text text-muted"
              id="age-small"
              *ngIf="
                !isRegistered &&
                !(formControls.age.dirty && formControls.age.errors)
              "
              >Bitte geben Sie Ihr Geburtsdatum an.</small
            >
            <ng-container
              *ngIf="
                formControls.age.dirty &&
                formControls.age.errors &&
                !isRegistered
              "
            >
              <small *ngIf="formControls.age.errors.minAge" class="red-text"
                >Sie müssen mindestens 15 Jahre alt sein.</small
              >
              <small
                *ngIf="formControls.age.errors.required"
                class="red-text"
                >Bitte geben Sie Ihr Geburtsdatum an.</small
              >
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-1 col-form-label" for="nickname">Nickname:</label>
          <div class="col-5">
            <input
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  formControls.nickname.errors && formControls.nickname.dirty
              }"
              type="text"
              id="nickname"
              aria-describedby="nickname-small"
              formControlName="nickname"
            />
            <small
              class="form-text text-muted"
              id="nickname-small"
              *ngIf="
                !(formControls.nickname.dirty && formControls.nickname.errors)
              "
              >Bitte geben Sie Ihren Nickname an.</small
            >
            <ng-container
              *ngIf="
                formControls.nickname.dirty && formControls.nickname.errors
              "
            >
              <small
                *ngIf="formControls.nickname.errors.minlength"
                class="red-text"
                >Bitte Nickname muss aus mindestens
                {{
                  formControls.nickname.errors.minlength.requiredLength
                }}
                Zeichen bestehen.</small
              >
              <small
                *ngIf="formControls.nickname.errors.maxlength"
                class="red-text"
                >Bitte Berufname darf maximal
                {{
                  formControls.nickname.errors.maxlength.requiredLength
                }}
                Zeichen bestehen.</small
              >
              <small
                *ngIf="formControls.nickname.errors.required"
                class="red-text"
                >Bitte geben Sie Ihren Nickname an.</small
              >
            </ng-container>
          </div>
          <label class="col-sm-1 col-form-label" for="gender"
            >Geschlecht:</label
          >
          <div class="col-sm-5">
            <select
              class="form-control"
              id="gender"
              style="width: 100%"
              aria-describedby="gender-small"
              formControlName="gender"
              mdbTooltip="Um Sinnvoll die Gehälter vergleichen zu können, wurde auf weitere Geschlechter zur Auswahl verzichtet."
            >
              <option class="disabled-option" disabled>
                Bitte wählen Sie Ihr Geschlecht
              </option>
              <option *ngFor="let gender of genders" [value]="gender">
                {{ gender }}
              </option>
            </select>
            <small class="form-text text-muted" id="gender-small"
              >Bitte geben Sie Ihr Geschlecht an.</small
            >
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label" for="job">Beruf:</label>
          <div class="col-sm-5">
            <input
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  formControls.job_title.errors && formControls.job_title.dirty
              }"
              type="text"
              id="job"
              aria-describedby="job-small"
              formControlName="job_title"
            />
            <small
              class="form-text text-muted"
              id="job-small"
              *ngIf="
                !(formControls.job_title.dirty && formControls.job_title.errors)
              "
              >Bitte geben Sie Ihren Beruf an.</small
            >
            <div
              *ngIf="
                formControls.job_title.dirty && formControls.job_title.errors
              "
              class="red-text"
            >
              <small *ngIf="formControls.job_title.errors.minlength"
                >Bitte Berufname muss aus mindestens
                {{
                  formControls.job_title.errors.minlength.requiredLength
                }}
                Buchstaben bestehen.</small
              >
              <small *ngIf="formControls.job_title.errors.maxlength"
                >Bitte Berufname darf maximal
                {{
                  formControls.job_title.errors.maxlength.requiredLength
                }}
                Buchstaben bestehen.</small
              >
              <small
                *ngIf="formControls.job_title.errors.required"
                class="red-text"
                >Bitte geben Sie Ihren Beruf an.</small
              >
            </div>
          </div>
          <label class="col-sm-1 col-form-label" for="education-degree"
            >Bildungsgrad:</label
          >
          <div class="col-sm-5">
            <select
              class="form-control"
              id="education-degree"
              aria-describedby="education-degree-small"
              formControlName="education_degree"
            >
              <option class="disabled-option" disabled>
                Bitte wählen Sie Ihren höchsten Bildungsabschluss
              </option>
              <option
                *ngFor="let education_degree of education_degrees"
                [ngValue]="education_degree"
              >
                {{ education_degree }}
              </option>
            </select>
            <small class="form-text text-muted" id="education_degree-small"
              >Bitte geben Sie Ihren höchsten Bildungsabschluss an.</small
            >
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label" for="salary">Gehalt:</label>
          <div class="col-sm-5">
            <div class="input-group">
              <input
                [ngClass]="{
                  'is-invalid':
                    formControls.salary.errors && formControls.salary.dirty
                }"
                class="form-control"
                type="number"
                min="0"
                max="1000000"
                id="salary"
                aria-describedby="salary-small"
                placeholder="z.B. 2000"
                formControlName="salary"
              />
              <div class="input-group-postpend">
                <div class="input-group-text">€</div>
              </div>
            </div>

            <small
              class="form-text text-muted"
              id="salary-small"
              *ngIf="!(formControls.salary.dirty && formControls.salary.errors)"
              >Bitte geben Sie Ihr Monatsgehalt in Euro an.</small
            >

            <ng-container
              *ngIf="formControls.salary.dirty && formControls.salary.errors"
            >
              <small *ngIf="formControls.salary.errors.min" class="red-text"
                >Ihr Gehalt muss mindestens
                {{ formControls.salary.errors.min.requiredMin }} € betragen
                .</small
              >
              <small *ngIf="formControls.salary.errors.max" class="red-text"
                >Ihr Gehalt darf maxmimal
                {{ formControls.salary.errors.max.requiredMax }} €
                betragen.</small
              >
              <small
                *ngIf="formControls.salary.errors.required"
                class="red-text"
                >Bitte geben Sie Ihr Monatsgehalt in Euro an.</small
              >
            </ng-container>
          </div>
          <label class="col-sm-1 col-form-label" for="federal-state"
            >Bundesland:</label
          >
          <div class="col-sm-5">
            <select
              class="form-control"
              id="federal-state"
              style="width: 100%"
              aria-describedby="federal-state-small"
              formControlName="federal_state"
            >
              <option class="disabled-option" disabled>
                Bitte wählen Sie Ihr Bundesland
              </option>
              <ng-container *ngFor="let federal_state of federal_states">
                <option [ngValue]="federal_state">{{ federal_state }}</option>
              </ng-container>
            </select>
            <small class="form-text text-muted" id="federal-state-small"
              >Bitte geben Sie Ihr Bundesland an.</small
            >
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-5">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!(profileForm.valid && profileForm.dirty)"
            >
              {{ saveButtonText }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
