@import 'src/app/shared/variables.scss';
.card-title {
    padding-bottom: 10px;
}

.upper-row {
    margin-bottom: 37px;
}

button {
    color: $primary-color;
    background-color: $secondary-color;
    border-color: $secondary-color;
}
