<h3>Profilverwaltung</h3>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Accountverwaltung</h5>
    <div class="card-text">
      <div class="card-content">
        <div class="form-group container-fluid">
          <div class="row">
            <div class="col-1">Email:</div>
            <div class="col-5">{{ email$ | async }}</div>
            <label class="col-1 col-form-label" for="nickname">Nickname:</label>
            <div class="col-5">
              <input
                class="form-control"
                type="text"
                id="nickname"
                aria-describedby="nickname-small"
                formControlName="job_title"
                [(ngModel)]="nickname"
                [disabled]="isRegistered"
                required
              />
              <small class="form-text text-muted" id="job-small"
                >Bitte geben Sie Ihren Nickname ein.</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-data-management
  [nickname]="nickname"
  (registeredEmitter)="onRegisteredEmitter($event)"
></app-data-management>
