@import "../../shared/variables.scss";

th {
  border-top: 0;
}

td {
  width: 16, 67%;
}

button:disabled {
  color: #ffffff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.no-selection-option {
  background-color: #e9ecef;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;  
}

.search-button {
  color: $secondary-color;
  background-color: $primary-color;
  border-color: $primary-color;

  margin: 0 10px;
}

.reset-button {
  color: $primary-color;
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.red-text {
  color: #dc3545;
}
