@import "../../shared/variables.scss";

button {
  color: $secondary-color;
  background-color: $primary-color;
  border-color: $primary-color;
}

th {
  border-top: 0;
}

td {
  width: 16, 67%;
}

.no-selection-option {
  background-color: #e9ecef;
}

.button-row {
  display: flex;
  flex-direction: row;
}

.button {
  margin: 10px;
}